nav {
  background: var(--white);
}
.navCenter {
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.logo {
  font-size: clamp(1.5rem, 3vw, 3rem);
  color: var(--primary-500);
  font-weight: 700;
  letter-spacing: 2px;
}
.navLinks {
  display: flex;
  /* flex-direction: column; */
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.navLinks a {
  color: var(--grey-900);
  padding: 0.5rem;
  transition: var(--transition);
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navLinks a:hover {
  color: var(--primary-500);
}
.navLinks a.active {
  color: var(--primary-500);
}

@media (min-width: 768px) {
  .navCenter {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .navLinks {
    flex-direction: row;
    margin-top: 0;
  }
  .navLinks a.active {
    color: var(--primary-500);
    border-bottom: 2px solid var(--primary-500);
  }
}
